version: '3.8'
services:
    localstack:
        image: localstack/localstack:3.0
        environment:
            - SERVICES=sqs
            - DEFAULT_REGION=eu-west-1
            - DATA_DIR=/var/lib/localstack/data
        ports:
            - "4566:4566"
            - "4571:4571"
        volumes:
            - "localstack-data:/var/lib/localstack/data"
            - "/var/run/docker.sock:/var/run/docker.sock"

    postgres:
        image: postgres:15
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: exchange
        ports:
            - "5432:5432"
        volumes:
            - pgdata:/var/lib/postgresql/data

    adminer:
        image: adminer
        restart: always
        ports:
            - 8085:8080

volumes:
    pgdata:
    localstack-data:
